body{
    font-family: 'Kanit', sans-serif !important;
    background-color: #03001C;
}

/* font-family: 'Kanit', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Shadows Into Light', cursive; */

